.app {
  background-color: #FFF;
  margin: auto;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 40px 24px;
  font-family: 'Inter', Arial, sans-serif;
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .app {
    width: 700px;
    margin: auto;
  }
}

@media screen and (max-width: 700px) {
  .app {
    width: 320px;
    margin: auto;
    padding: 0;
  }
}